a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
        color: #FA2759;
    }
}

img {
    cursor: pointer;
    height: 60px;
}

.absoulute{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: black;

}

.navbar_menu{
    display: block;
}

.navbar_burger{
    display: none;
}
@media (max-width: 850px) {
    // .navbar {
    //     flex-direction: column;

    // }

    a{
        margin-left: 0px;
    }
    .navbar_menu{
        display: none;
    }
    
    .navbar_burger{
        display: block;
    }
}

@media (max-width: 550px) {

    .navbar {
        padding-left: 60px;
        padding-right: 60px;
    }


}