img {
    cursor: pointer;
    height: 60px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 80px;
    background-color: black;
    width: 100vw;
    z-index: 1;
}

.navbar_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1155px;
}

.navbar_menu {
    display: block;
}

.navbar_menu a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

    &:hover {
        color: #FA2759;
    }
}

.navbar_burger {
    display: none;
}

@media (max-width: 1500px) {

    .navbar_div {
        width: 945px;
    }

}

@media (max-width: 1040px) {

    .navbar_div {
        width: 700px;
    }

}

@media (max-width: 850px) {
    a {
        margin-left: 0px;
    }

    .navbar_div {
        width: unset;
    }
}

@media (max-width: 450px) {

    .navbar{
        justify-content: space-between;
    }

    .navbar_div{
        padding-left: 48px;
    }

    .navbar_menu {
        display: none;
    }

    .navbar_burger {
        display: block;
    }

    .navbar_burger_div{
        padding-right: 48px;
    }
}

