a{
    text-decoration: none;
    color: #2DFCD8;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 64px;
    color: #2DFCD8;
}

.contact_me_section{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: black;
    height: 100vh;
}

.center_div{
    padding: 120px;
}