<div id="contact" class="contact_me_section">

    <div>
        <div class="top_section">
            <h1>Contact Me.</h1><br>
            <span class="span_text">Get in touch via the form below, or by emailing <a
                    href="">mail@tuncay-dagdelen.com</a>
            </span>
        </div>

        <form class="form" action="">
            <div>
                <h4>Name</h4>
                <input class="name" placeholder="Enter your Name" type="text">
            </div>
            <div>
                <h4>E-Mail</h4>
                <input class="mail" placeholder="Enter your E Mail Adress" type="text">

            </div>
            <div>
                <h4>Message</h4>
                <textarea class="text" placeholder="Enter your Message" name="" id="" cols="30" rows="10"></textarea>

            </div>
            <div class="sendbutton_div">
                <button class="button_blue">Send</button>
            </div>
        </form>
    </div>



</div>