<div id="contact" class="contact_me_section section_distance">

    <div class="contact_me_section_div">
        <div class="top_section">
            <h1 data-aos="flip-right" data-aos-duration="800">Contact Me.</h1><br>
            <span class="span_text">Get in touch via the form below, or by emailing <a
                    href="mailto:info@tuncay-dagdelen.de">info@tuncay-dagdelen.de</a>
            </span>
        </div>

        <form action="https://portfolio.tuncay-dagdelen.de/send_mail.php" method="POST" class="form">
            <div>
                <h4>Name</h4>
                <input name="name" required class="name" placeholder="Enter your Name or Company" type="text">
            </div>
            <div>
                <h4>E-Mail</h4>
                <input name="email" required class="mail" placeholder="Enter your E Mail Adress" type="email">

            </div>
            <div>
                <h4>Message</h4>
                <textarea name="message" required class="text" placeholder="Enter your Message" cols="30"
                    rows="10"></textarea>

            </div>
            <div class="sendbutton_div">
                <button type="submit" class="transition button_blue">Send</button>
            </div>
        </form>
    </div>

</div>