.about_me_section {
    overflow-x: hidden;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.about_me_section_div {
    width: 1155px;
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
}

.section_distance {
    padding-top: 48px;
    padding-bottom: 48px;
}

.top_section {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 48px;
}

.small_picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

h2 {
    color: white;
    font-size: 36px;
}

.bottom_section {
    padding-top: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom_icons {
    display: flex;
    justify-content: center;
}

.bottom_four_sections {
    max-width: 200px;
    min-width: 160px;
    padding-left: 4px;
    padding-right: 4px;
}

.journey_headline {
    height: 54px;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text_div {
    padding-left: 4px;
    padding-right: 4px;
}

.icon_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 79px;
    height: 79px;
    border-radius: 50%;

    img {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 1500px) {
    .about_me_section_div {
        width: 945px;
    }
}

@media (max-width: 1040px) {
    .about_me_section_div {
        width: 700px;
    }

    .bottom_section {
        padding-top: 24px;
        align-items: center;
    }

    .top_section {
        padding-bottom: 24px;
        width: unset;
    }

    .bottom_four_sections{
        height: 100%;
        max-width: 450px;
        margin-bottom: 8px;
    }

}

@media (max-width: 850px) {
    .top_section {
        flex-direction: column;
        justify-content: flex-start;
    }
    .bottom_section {
        flex-direction: column;
    }
}

@media (max-width: 410px) {
    h2 {
        font-size: 28px;
    }
}