.about_me_section {
    overflow: hidden;
    background-color: #1a1a1a;
    color: white;
    // height: 100vh;
    text-align: center;
}

.section_distance {
    padding-top: 48px;
    padding-bottom: 48px;
}

.top_section {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #2DFCD8;
    margin-right: 120px;
    margin-left: 120px;
    padding-bottom: 48px;
}

.small_picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

h2 {
    color: white;
    font-size: 36px;
}

// .top_right_text {
//     padding-left: 70px;
// }

.bottom_section {
    padding-top: 48px;
    padding-left: 195px;
    padding-right: 195px;
    height: calc(60% - 131px);
    display: flex;
    justify-content: center;
}

.bottom_icons {
    display: flex;
    justify-content: center;
}

.bottom_four_sections {
    max-width: 160px;
    min-width: 160px;
    padding-left: 4px;
    padding-right: 4px;
}

.journey_headline {
    height: 54px;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.text_div {
    padding-left: 4px;
    padding-right: 4px;
}

.icon_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2DFCD8;
    width: 79px;
    height: 79px;
    border-radius: 50%;

    img {
        width: 28px;
        height: 28px;
    }
}


@media (max-width: 850px) {
    .bottom_section {
        flex-direction: column;
        align-items: center;
    }

    .bottom_four_sections {
        margin-top: 28px;
        max-width: 360px;
        min-width: 360px;
    }

    .first_text{
        max-width: 360px;
        min-width: 360px;
    }

    .journey_headline {
        height: unset;

        
    }

    .top_section {
        flex-direction: column;
    }

    .small_picture {
        margin-right: 0px;
    }

    .top_section {
        margin-right: 12px;
        margin-left: 12px;
    }

    .top_right_text {
        padding-left: 0px;
    }


    .bottom_section {
        padding-top: 12px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .icon_circle {
        margin-top: 20px;
    }
}


@media (max-width: 410px) {
    h2 {
        font-size: 28px;
    }

    .small_picture {
        width: 200px;
        height: 200px;
    }

    .bottom_four_sections {
        margin-top: 28px;
        max-width: 270px;
        min-width: 270px;
    }

    .first_text{
        max-width: 270px;
        min-width: 270px;
    }
}