<div id="about_me" class="about_me_section section_distance">
    <div class="top_section">
        <img class="small_picture" src="assets/img/tk.jpg">
        <div class="top_right_text">
            <h2>About Me</h2><br>
            <div>
                I´m a technology enthusiast, gamer and <br>
                front end developer who loves to try and work with <br>
                new technologies.

            </div>
        </div>

    </div>
    <div class="bottom_section">
        <div class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/walk-line.png"></div>
            </div>
            <div class="journey_headline">MY JOURNEY BEGAN</div>
            <div class="text_div">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, ipsa voluptate officia eos voluptatibus
                dolorem commod.
            </div>
        </div>
        <div class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/heart-line.png"></div>
            </div>
            <div class="journey_headline">MY JOURNEY BEGAN</div>
            <div class="text_div">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, ipsa voluptate officia eos voluptatibus
                dolorem commod.
            </div>
        </div>
        <div class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/search-line.png"></div>
            </div>
            <div class="journey_headline">MY JOURNEY BEGAN</div>
            <div class="text_div">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, ipsa voluptate officia eos voluptatibus
                dolorem commod.
            </div>
        </div>
        <div class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/flight-takeoff-line.png"></div>
            </div>
            <div class="journey_headline">MY JOURNEY BEGAN</div>
            <div class="text_div">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, ipsa voluptate officia eos voluptatibus
                dolorem commod.
            </div>
        </div>
    </div>
</div>