<div id="about_me" class="about_me_section section_distance">
    <div class="top_section">
        <img class="small_picture" src="assets/img/tk.jpg">
        <div class="top_right_text">
            <h2>About Me</h2><br>
            <div>
                I´m a technology enthusiast, gamer and <br>
                front end developer who loves to try and work with <br>
                new technologies.

            </div>
        </div>

    </div>
    <div class="bottom_section">
        <div class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/walk-line.png"></div>
            </div>
            <div class="journey_headline">MY JOURNEY BEGAN</div>
            <div class="text_div">as an industrial diver in tunnel contructions arround the world. <br>
                <br>
                After i was married, i started my own taxi company in munich, to be at home by my family. <br>
                <br>
            </div>
        </div>
        <div class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/heart-line.png"></div>
            </div>
            <div class="journey_headline">I WAS ALWAYS</div>
            <div class="text_div"> tech-savvy, much interested in IT. <br>
                <br>
                So i heared about the Developer Akademie in munich, <br>
                where i learned codeing and work practice like scrum.
            </div>
        </div>

        <div class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/flight-takeoff-line.png"></div>
            </div>
            <div class="journey_headline">IM READY</div>
            <div class="text_div">i learned JavaScript and Angular in differnent projects,
                while i worked solo or in groups, practice close. <br>
            </div>
        </div>

        <div class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/search-line.png"></div>
            </div>
            <div class="journey_headline">NOW IM LOOKING</div>
            <div class="text_div">for my first job as a junior Frontend Webdeveloper. <br>
                <br>
                 I am looking forward to now build on my first experience and contribute to your company.
            </div>
        </div>

    </div>
</div>