<div id="about_me" class="about_me_section section_distance">
<div class="about_me_section_div">
    <div class="top_section">
        <img data-aos="flip-left" data-aos-duration="800" class="small_picture" src="assets/img/tk.jpg">
        <div class="top_right_text">
            <h2>About Me</h2><br>
            <div class="first_text">
                I´m a junior front-end developer, technology enthusiast <br> 
                and gamer, who loves to work with new technologies.
            </div>
        </div>

    </div>
    <div class="bottom_section">
        <div data-aos="fade-right" data-aos-duration="800" class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/walk-line.png"></div>
            </div>
            <div class="journey_headline">My Journey Began</div>
            <div class="text_div">as an industrial diver in tunnel contructions arround the world. <br>
                <br>
                After i was married, i started my own taxi company in munich, to be at home by my family. <br>
                <br>
            </div>
        </div>
        <div data-aos="fade-right" data-aos-duration="800" class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/heart-line.png"></div>
            </div>
            <div class="journey_headline">I was Always</div>
            <div class="text_div"> tech-savvy, much interested in IT. <br>
                <br>
                So i heared about the Developer Akademie in munich, <br>
                where i learned coding and work practice like scrum.
            </div>
        </div>

        <div data-aos="fade-left" data-aos-duration="800" class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/flight-takeoff-line.png"></div>
            </div>
            <div class="journey_headline">Im Ready</div>
            <div class="text_div">i learned JavaScript and Angular in differnent projects,
                while i worked solo or in groups, practice close. <br>
            </div>
        </div>

        <div data-aos="fade-left" data-aos-duration="800" class="bottom_four_sections">
            <div class="bottom_icons">
                <div class="icon_circle"><img src="assets/img/search-line.png"></div>
            </div>
            <div class="journey_headline">NOW IM LOOKING</div>
            <div class="text_div">for my first job as a junior Frontend Webdeveloper. <br>
                <br>
                I am now looking forward to building on my first experience and contributing to your company.
            </div>
        </div>
    </div>
</div>
</div>