.welcome-section {
    height: calc(100vh - 80px);
    color: white;
    background-color: black;
}

.welcome_section_top {
    height: 70%;
    display: flex;
}

.welcome_section_top_left {
    width: 100%;

    .name {
        color: #FA2759;
    }

    .e {
        color: #2DFCD8;
    }
}


.welcome_text_div {
    padding-left: 120px;
    height: 60%;
    display: flex;
    align-items: center;
}

.welcome_text {
    font-size: 64px;
}

.contact_btn_div {
    padding-left: 120px;
    display: flex;
    align-items: center;
}

.button_blue {
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    border-color: #2DFCD8;
    border: 2px solid;
    color: #2DFCD8;
    padding: 24px;
    padding-left: 88px;
    padding-right: 88px;

    &:hover {
        background-color: #2DFCD8;
        color: white;
        border-color: #2DFCD8;
    }
}

.welcome_section_top_right {
    padding-right: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_picture {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.welcome_section_bottom {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.arrow {
    cursor: pointer;
    padding-bottom: 80px;
}


@media (max-width: 1400px) {
    .welcome_text {
        font-size: 54px;
    }
}

@media (max-width: 1000px) {
    .welcome_text {
        font-size: 44px;
    }

    .main_picture {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 850px) {
    .welcome_text {
        font-size: 34px;
        text-align: center;
        margin-bottom: 16px;
    }

    .welcome_section_top {
        flex-direction: column-reverse;
        align-items: center;
        height: 67%;
    }

    .contact_btn_div {
        padding-left: 0px;
        justify-content: center;
    }

    .welcome_section_top_right {
        padding-right: 0px;
    }

    .welcome_text_div {
        padding-left: 0px;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 380px) {
    .welcome_section_top {
        height: unset;
    }

    .welcome_text {
        font-size: 20px;
    }

    .main_picture {
        width: 220px;
        height: 220px;
    }

}

@media (max-width: 850px) and (orientation : landscape) {
    .welcome-section {
        height: unset;
    }

    .welcome_section_top {
        flex-direction: unset;

    }

    .welcome_section_top_right {
        padding-right: 70px;
    }

    .welcome_text_div {
        padding-top: unset;
        padding-bottom: 4px;
    }

    .main_picture {
        width: 200px;
        height: 200px;
    }

    .arrow {
        padding-top: 12px;
    }
}