<div class="imprint_body">
    <h1>Imprint</h1>

    <h2>Information according to &sect; 5 TMG</h2>
    <p>Tuncay Dagdelen<br />
        Sonnenblumenweg 1<br />
        85399 Hallbergmoos</p>

    <h2>Contact</h2>
    <a href="tel: +4916099089089">Tel.: +49 (0) 160 99 089 089</a><br>
    <br>
    <a href="mailto:info@tuncay-dagdelen.de">Mail: info@tuncay-dagdelen.de</a><br>
    <br>
    <br>
    <a class="a" href="https://www.e-recht24.de" target="_blank">Quelle: https://www.e-recht24.de</a><br>
    <a class="a" target="_blank" href="https://icons8.com">icons by Icons8</a>
</div>