.imprint_body{
    padding-top: 80px;
    height: calc(100vh - 180px);
    text-align: center;
    background-color: black;
    color: white;
}

h1{
    font-size: 36px;
    margin-top: 0;
    // padding-top: 60px;
    // padding-bottom: 60px;
}

h2{
    font-size: 26px;
    margin-top: 0;
    // padding-top: 60px;
    // padding-bottom: 60px;
}

p{
    font-size: 20px;
}

.a{
    text-decoration: none;
    color: rgba(255,255,255,0.2);

    &:hover{
        color: white;
    }
}
