.skill_icon {
    width: 30px;
    height: 30px;
}

.angular_icon {
    width: 40px;
    height: 40px;
}

.my_skills_section {
    background-color: #1a1a1a;
}

.section_distance {
    padding-top: 128px;
    padding-bottom: 48px;
}

.top_section {
    display: flex;
    justify-content: center;
}

.my_skills_text {
    color: white;
    font-size: 36px;
}

.bottom_section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bottom_section_div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 1155px;
}

.skill_element_div {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 340px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.icon_circle {
    margin-top: -30px;
    margin-bottom: 15px;
    display: flex;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white
}

@media (max-width: 1500px) {
    .bottom_section_div {
        width: 945px;
    }
    
    .skill_element_div {
        min-width: 270px;
    }
}

@media (max-width: 1040px) {

    .bottom_section_div {
        width: 700px;
    }

}

@media (max-width: 850px) {

    .bottom_section_div {
        width: 400px;
    }

}

@media (max-width: 1500px) {

}
@media (max-width: 480px) {
    .my_skills_text {
        font-size: 28px;
    }

    .skill_element_div {
        min-width: 250px;
        height: 125px;
    }

    .bottom_section_div {
        padding-left: 0;
        padding-right: 0;
    }
}