.skill_icon {
    width: 30px;
    height: 30px;
}

.angular_icon {
    width: 40px;
    height: 40px;
}

.my_skills_section {
    background-color: #1a1a1a;
    // height: 100vh;
}

.section_distance{
    padding-top: 48px;
    padding-bottom: 48px;
}

.top_section {
    height: 20%;
    display: flex;
    justify-content: center;
}

.my_skills_text {
    color: white;
    font-size: 36px;
}

.bottom_section {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.bottom_section_div {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.skill_element_div {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    min-width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.icon_circle {
    margin-top: -30px;
    margin-bottom: 15px;
    display: flex;
    // border: 1px solid rgb(191, 189, 189);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white
}