<div id="my_skills" class="my_skills_section">
    <div class="top_section">
        <h2 class="my_skills_text">MY Skills</h2>
    </div>

    <div class="bottom_section">

        <div>
            <img src="/assets/img/java_script.png">
        </div>
        <div>
            <img src="/assets/img/angular.png" alt="">
        </div>
        <div>
            <img src="/assets/img/Group_205.png" alt="">
        </div>
        <div>
            <img src="/assets/img/Group_226.png" alt="">
        </div>
        <div>
            <img src="/assets/img/Git-Icon-1788C 2.png" alt="">
        </div>
        <div>
            <img src="/assets/img/Group.png" alt="">
        </div>
        <div>
            <img src="/assets/img/icons8-rest-api-80 2.png" alt="">
        </div>
        <div>
            <img src="/assets/img/icons8-test-lab-96 2.png" alt="">
        </div>
        <div>
            <img src="/assets/img/icons8-database-52 2.png" alt="">
        </div>

    </div>
</div>