<div id="my_skills" class="my_skills_section section_distance">
    <div class="top_section">
        <h2 class="my_skills_text">MY Skills</h2>
    </div>

    <div class="bottom_section">

        <div class="bottom_section_div">
            <div class="skill_element_div">
                <div class="icon_circle">
                    <img class="skill_icon" src="assets/img/java_script.png">
                </div>
                JavaScript
            </div>
            <div class="skill_element_div">
                <div class="icon_circle">
                    <img class="angular_icon" src="assets/img/angular.png">
                </div>
                Angular
            </div>
            <div class="skill_element_div">
                <div class="icon_circle">
                    <img class="skill_icon" src="assets/img/Group_205.png">
                </div>
                HTML / SCSS
            </div>
            <div class="skill_element_div">
                <div class="icon_circle">
                    <img class="skill_icon" src="assets/img/Group_226.png">
                </div>
                SCRUM
            </div>
            <div class="skill_element_div">
                <div class="icon_circle">
                    <img class="skill_icon" src="assets/img/Git-Icon-1788C 2.png">
                </div>
                GIT
            </div>
            <div class="skill_element_div">
                <div class="icon_circle">
                    <img class="skill_icon" src="assets/img/Group.png">
                </div>
                Design Thinking
            </div>
            <div class="skill_element_div">
                <div class="icon_circle">
                    <img class="skill_icon" src="assets/img/icons8-rest-api-80 2.png">
                </div>
                Rest API
            </div>
            <div class="skill_element_div">
                <div class="icon_circle">
                    <img class="skill_icon" src="assets/img/icons8-test-lab-96 2.png">
                </div>
                Test Automation
            </div>
            <div class="skill_element_div">
                <div class="icon_circle">
                    <img class="skill_icon" src="assets/img/icons8-database-52 2.png">
                </div>
                Databases
            </div>
        </div>

    </div>
</div>