h3{
    color: #FA2759;
}
.my_work_section {
    background-color: black;
    height: 100vh;
}

.top_section {
    height: 30%;
}

.my_work_text {
    padding-top: 95px;
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: 36px;
}


.buttons_div {
    padding-top: 45px;
    display: flex;
    justify-content: center;
}

.button_pink {
    cursor: pointer;
    width: 150px;
    background-color: transparent;
    font-size: 18px;
    border-color: #FA2759;
    border: 2px solid;
    color: #FA2759;
    padding: 24px;
    margin-left: 4px;
    margin-right: 4px;

    &:hover {
        background-color: #FA2759;
        color: white;
        border-color: #FA2759;
    }
}


.bottom_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}


.preview_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.skill_preview_div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16PX;
    width: 390px;
    height: 310px;
    background-color: white;

    &:hover {
        opacity: 0.2;
    }
}

.button_try {
    cursor: pointer;
    width: 150px;
    background-color: transparent;
    font-size: 18px;
    border-color: #FA2759;
    border: 2px solid;
    color: #FA2759;
    margin-top: 30px;
    padding: 24px;
    margin-left: 4px;
    margin-right: 4px;

    &:hover {
        background-color: #FA2759;
        color: white;
        border-color: #FA2759;
    }
}


.skill_preview_img {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;

}