<div id="my_work" class="my_work_section">
    <div class="top_section">
        <h2 class="my_work_text">MY WORK</h2>
        <div class="buttons_div">
            <button class="button_pink">All</button><button class="button_pink">Angular</button><button
                class="button_pink">JavaScript</button>
        </div>
    </div>

    <div class="bottom_section">

        <div class="preview_div">
            <img class="skill_preview" src="/assets/img/1laptop1monitor.jpg">
            <img class="skill_preview" src="/assets/img/1notebook.jpg">
            <img class="skill_preview" src="/assets/img/2monitore.jpg">
            <a href="https://tuncay-dagdelen.de/Join" target="_blank"><img class="skill_preview" src="/assets/img/3team.jpg">
            </a>
        </div>

    </div>
</div>