<div id="my_work" class="my_work_section section_distance">
    <div class="top_section">
        <h2 class="my_work_text">MY Work</h2>
        <div class="buttons_div">
            <button [class.toggle_hover]="toggleAll" (click)="showAllFunc()" class="transition button_pink">All</button>
            <button [class.toggle_hover]="toggleAngular" (click)="showAngularFunc()"
                class="transition button_pink">Angular</button>
            <button [class.toggle_hover]="toggleJavaScript" (click)="showJavaScriptFunc()"
                class="transition button_pink">JavaScript</button>
        </div>
    </div>

    <div class="bottom_section">

        <div class="preview_div">

            <div data-aos="zoom-in-left" data-aos-duration="800" *ngIf="showJavaScript" class="skill_preview_div">
                <div class="transition description_hidden">
                    <h3>El Pollo Locco</h3>
                    <p>JavaScript - based Jump & Run game with Object orientation</p>
                    <a href="https://elpollolocco.tuncay-dagdelen.de/" target="_blank">
                        <button class="transition button_try">Try Out</button></a>
                    <a href="https://github.com/TKaY83/El-Pollo-Loco" target="_blank">
                        <button class="transition button_try">GitHub</button></a>
                </div>
                <img class="skill_preview_img" src="assets/img/elpollolocco.jpg">
            </div>

            <div data-aos="zoom-in-right" data-aos-duration="800" *ngIf="showAngular" class="skill_preview_div">
                <div class="transition description_hidden">
                    <h3>Ring of Fire</h3>
                    <p>Angular - based Cardgame</p>
                    <a href="https://ringoffire.tuncay-dagdelen.de/" target="_blank"> 
                        <button class="transition button_try">Try Out</button></a>
                    <a href="https://github.com/TKaY83/ringoffire" target="_blank"> 
                        <button class="transition button_try">GitHub</button></a>
                </div>
                <img class="skill_preview_img" src="assets/img/ringoffire.jpg">
            </div>

            <div data-aos="zoom-in-right" data-aos-duration="800" *ngIf="showJavaScript" class="skill_preview_div">
                <div class="transition description_hidden">
                    <h3>Join</h3>
                    <p>JavaScript - based Kanbanboard with Bootstrap</p>
                    <a href="https://join.tuncay-dagdelen.de/" target="_blank">
                        <button class="transition button_try">Try Out</button></a>
                    <a href="https://github.com/SabineDetering/Join" target="_blank">
                        <button class="transition button_try">GitHub</button></a>
                </div>
                <img class="skill_preview_img" src="assets/img/join.jpg">
            </div>

            <!-- <div data-aos="zoom-in-left" data-aos-duration="800" *ngIf="showAngular" class="skill_preview_div">
                <div class="transition description_hidden">
                    <h3>SlackClone</h3>
                    <p>In Progress</p>
                    <button class="transition button_try">Try Out</button>
                </div>
                <img class="skill_preview_img" src="assets/img/1notebook.jpg">
            </div> -->

        </div>

    </div>
</div>