$size: 10rem;

h3 {
    font-size: 24px;
    color: #FA2759;
}


.my_work_section {
    background-color: black;
    // height: 100vh;
}

.section_distance {
    padding-top: 48px;
    padding-bottom: 48px;
}

.top_section {
    height: 30%;
}

.my_work_text {
    color: white;
    text-align: center;
    font-size: 36px;
}

.buttons_div {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.button_pink {
    cursor: pointer;
    width: 150px;
    background-color: transparent;
    font-size: 18px;
    border-color: #FA2759;
    border: 2px solid;
    color: #FA2759;
    padding: 24px;
    margin-left: 4px;
    margin-right: 4px;

    &:hover {
        background-color: #FA2759;
        color: white;
        border-color: #FA2759;
        box-shadow: 0px $size * 0.3 $size 0px rgba(#FA2759, 0.8); 

    }


}

.toggle_hover{
    background-color: #FA2759 !important ;
    color: white !important ;
    border-color: #FA2759 !important ;
}


.bottom_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}


.preview_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.skill_preview_div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 16px;
    min-width: 360px;
    max-width: 360px;
    height: 310px;
    background-color: white;
    opacity: 0.8;
}

.description_hidden {
    padding-top: 32px;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.8)
    }
}

.button_try {
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    border-color: #FA2759;
    border: 2px solid;
    color: #FA2759;
    margin-top: 30px;
    padding: 24px;
    margin-left: 4px;
    margin-right: 4px;

    &:hover {
        background-color: #FA2759;
        color: white;
        border-color: #FA2759;
    }
}


.skill_preview_img {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    z-index: -1;
}


@media (max-width: 410px) {

    .my_work_text{
        font-size: 28px;
    }

    .button_pink {
        font-size: 16px;
    }

    .skill_preview_div {
        margin-left: 8px;
        margin-right: 8px;
        min-width:320px;
        max-width: 320px;
    }

    .skill_preview_div {
        transform: scale(0.9);
    }

    .preview_div {
        width: unset;
    }
}


@media (max-width: 360px) {

    .button_pink {
        padding: 4px;
        font-size: 12px;
    }

    .skill_preview_div {
        min-width:260px;
        max-width: 260px;
    }



}

